<ul class="pagination-custom top-pagination">
  {% if paginate.previous %}
    <li><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">Previous page</a></li>
  {% else %}
    <li class="disabled"><span>Previous page</span></li>
  {% endif %}

  {% for part in paginate.parts %}
  {% if collectiondata == 'best-seller' %}
  {% assign parts = part.title | plus:0 %}
 
   {% if parts <= limits %}	
  

    {% if part.is_link %}
      <li>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active"><span>{{ part.title }}</span></li>
      {% else %}
        <li style="display:none;"><span>{{ part.title }}</span></li>
      {% endif %}
    {% endif %}
   {% endif %}
  
  {% else %}
  
    {% if part.is_link %}
      <li>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active"><span>{{ part.title }}</span></li>
      {% else %}
        <li><span>{{ part.title }}</span></li>
      {% endif %}
    {% endif %}
  
  {% endif %}
  {% endfor %}

  {% if paginate.next %}
  {% if collectiondata == 'best-seller' %}
   {% if paginate.current_page == limits %}	
    <li class="disabled"><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">Next page</a></li>
  {% else %}
    <li><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">Next page</a></li>
   {% endif %}
  {%else%}
    <li><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">Next page</a></li>
  {% endif %}	  
  {% else %}
    <li class="disabled"><span>Next page</span></li>
  {% endif %}
</ul>
