
{% paginate collection.products by 20 %}
{% include 'breadcrumb' %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 %}
  {% assign has_sidebar = true %}
{% endif %}
  {{ 'nivo-slider.css' | asset_url | stylesheet_tag }}
   {{ 'default.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.nivo.slider.js' | asset_url | script_tag }}
<script type="text/javascript">
  jQuery(window).load(function() {

    jQuery('#slider-fine').nivoSlider({
      pauseTime: 6000,
    });
    
     jQuery('#slider-vileda').nivoSlider({
      pauseTime: 6000,
    });



  });
  
    jQuery(document).ready(function() {

    jQuery('.custom-collection-cont').closest('.wrapper.main-content').addClass('fine-store');


  });

</script>

<div class="grid grid-border">
  {% if collection.handle == "fine-store" %}
	<div class="custom-collection-cont">
      <div class="custom-main-banner">
        <img src="{{ 'Fine_TopBanner.jpg' | asset_url }}">

        <div class="slider-wrapper theme-default">
            <div id="slider-fine" class="nivoSlider">
              
                <img src="{{ 'Tissue.jpg' | asset_url }}" data-transition="slideInRight"  data-thumb="{{ 'Tissue.jpg' | asset_url }}" alt="" />
              
				<img src="{{ 'Kitchen.jpg' | asset_url }}"  data-transition="slideInRight" data-thumb="{{ 'Kitchen.jpg' | asset_url }}" alt="" />
              
                <img src="{{ 'Toilet.jpg' | asset_url }}" data-transition="slideInRight"  data-thumb="{{ 'Toilet.jpg' | asset_url }}" alt="" />  

                <img src="{{ 'Baby.jpg' | asset_url }}" data-transition="slideInRight"  data-thumb="{{ 'Baby.jpg' | asset_url }}" alt="" />
              
                <img src="{{ 'Adult.jpg' | asset_url }}" data-transition="slideInRight"  data-thumb="{{ 'Adult.jpg' | asset_url }}" alt="" />        
              
            </div>
        </div>

      </div>
      <div class="custom-link-cont {% if collection.handle == "fine-store" %}main-cat{% endif %}">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/fine-tissue#pro"><img src="{{ 'Fine_Square-facial-tissue.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/fine-toilet#pro"><img src="{{ 'Fine_Square_Toilet.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/fine-towel#pro"><img src="{{ 'Fine_Square_paper-towel.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/fine-baby#pro"><img src="{{ 'Fine_Square_Baby.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/fine-care#pro"><img src="{{ 'Fine_Square_adult-diaper.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="#"><img src="{{ 'Fine_Square_No_Link.jpg' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  {% endif %}
  
  {% if collection.handle == "vileda-store" or collection.handle == "vileda-scourers-sponges" or collection.handle == "vileda-mops" or collection.handle == "vileda-brooms-brushes" or collection.handle == "vileda-cloths" or collection.handle == "vileda-gloves" or collection.handle == "vileda-laundry-care" %}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner vileda">

        <div class="slider-wrapper theme-default">
            <div id="slider-vileda" class="nivoSlider">
              
                <img src="{{ 'vileda-1.png' | asset_url }}" data-transition="slideInRight"  data-thumb="{{ 'vileda-1.png' | asset_url }}" alt="" />
              
				<img src="{{ 'vileda-2.png' | asset_url }}"  data-transition="slideInRight" data-thumb="{{ 'vileda-2.png' | asset_url }}" alt="" />
              
                <img src="{{ 'vileda-3.png' | asset_url }}" data-transition="slideInRight"  data-thumb="{{ 'vileda-3.png' | asset_url }}" alt="" />        
              
            </div>
        </div>

      </div>
      <div class="custom-link-cont custom-sanadeeg-busines main-cat">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/vileda-scourers-sponges"><img src="{{ 'Scourers-sponges.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/vileda-mops"><img src="{{ 'Mops.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/vileda-brooms-brushes"><img src="{{ 'Brooms-Brushes.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/vileda-cloths"><img src="{{ 'Cloths.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/vileda-gloves"><img src="{{ 'gloves.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/vileda-laundry-care"><img src="{{ 'Laundry-Care.png' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  {% endif %}
  
  
   {% if collection.handle == "sanadeeg-for-business" or collection.handle == "food-and-snacks" or collection.handle == "business-stationary" or collection.handle == "business-water-beverages" or collection.handle == "business-cleaning-supplies" or collection.handle == "break-room" or collection.handle == "business-paper-products"%}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner mycustom-banner">

      </div>
      <div class="custom-link-cont custom-sanadeeg-business {% if collection.handle == "sanadeeg-for-business" %}main-cat{% endif %}">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/business-stationary"><img src="{{ 'Business_Stationary.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/business-water-beverages"><img src="{{ 'Business_Beverages.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/food-and-snacks"><img src="{{ 'Business_Snacks.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/business-cleaning-supplies"><img src="{{ 'Business_CleaningSupplies.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/break-room"><img src="{{ 'Business_Garbage_Storage.png' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/business-paper-products"><img src="{{ 'Business_Paperproducts.png' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  	<div class="row my-block-row">
        <div class="col-md-12 my-content">
          <p>We welcome all requests for quotations and special requirement inquiries for Businesses. If you have a specific product requirement that you do not see listed here, or if you have a special requirement such as a large order of a particular product for an event or export then we are more than happy to fulfill that request and reply to it offline. Please feel free to contact us at the <strong>email: contact@sanadeeg.com</strong> or call us at our <strong>phone number: +9714 278 0941</strong></p>
        </div>
  	</div>
  {% endif %}
  
  {% if collection.handle == "grocery" or collection.handle == "meals-prep" or collection.handle == "bread-bakery" or collection.handle == "home-baking" or collection.handle == "spreads-sweetners" or collection.handle == "breakfast" or collection.handle == "chocolate-candy" or collection.handle == "cookies-bars" or collection.handle == "canned-food" or collection.handle == "condiments-spices" or collection.handle == "salted-snacks" or collection.handle == "organic"%}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner mycustom-banner">

      </div>
      <div class="custom-link-cont custom-sanadeeg-business {% if collection.handle == "grocery" %}main-cat{% endif %}">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/meals-prep"><img src="{{ 'Meals-Prep.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/bread-bakery"><img src="{{ 'Bread-Bakery.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/home-baking"><img src="{{ 'Home-Baking.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/spreads-sweetners"><img src="{{ 'Spreads-Sweetners.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/breakfast"><img src="{{ 'Breakfast.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/chocolate-candy"><img src="{{ 'Chocolate-Candy.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/cookies-bars"><img src="{{ 'cookies-bars.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/canned-food"><img src="{{ 'Canned-Food.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/condiments-spices"><img src="{{ 'Condiments-Spices.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/salted-snacks"><img src="{{ 'Salted-Snacks.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/organic"><img src="{{ 'Organic-Healthy.jpg' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  {% endif %}
  
  
  
  
  {% if collection.handle == "health-beauty" or collection.handle == "beauty" or collection.handle == "ladies-hygene" or collection.handle == "dental"%}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner mycustom-banner">

      </div>
      <div class="custom-link-cont custom-sanadeeg-business {% if collection.handle == "health-beauty" %}main-cat{% endif %}">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/beauty"><img src="{{ 'Beauty.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/ladies-hygene"><img src="{{ 'Ladies-Hygeine.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/dental"><img src="{{ 'Dental.jpg' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  {% endif %}
  
  {% if collection.handle == "baby-corner" or collection.handle == "diapers-wipes" or collection.handle == "baby-wipes" or collection.handle == "care-cleaning" or collection.handle == "nutrition"%}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner mycustom-banner">

      </div>
      <div class="custom-link-cont custom-sanadeeg-business {% if collection.handle == "baby-corner" %}main-cat{% endif %}">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/diapers-wipes"><img src="{{ 'Diapers4.jpg' | asset_url }}"></a>
        </div>
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/baby-wipes"><img src="{{ 'Wipes.jpg' | asset_url }}"></a>
        </div>
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/nutrition"><img src="{{ 'Nutrition.jpg' | asset_url }}"></a>
        </div>
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/care-cleaning"><img src="{{ 'CleaningCare.jpg' | asset_url }}"></a>
        </div>
        
        
        
        
      </div>
    </div>
  {% endif %}
  
  {% if collection.handle == "home-office" or collection.handle == "electric" or collection.handle == "storage" or collection.handle == "stationary" or collection.handle == "garbage-recycling"%}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner mycustom-banner">

      </div>
      <div class="custom-link-cont custom-sanadeeg-business {% if collection.handle == "home-office" %}main-cat{% endif %}">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/electric"><img src="{{ 'Electric.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/storage"><img src="{{ 'TabletopStorage.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/stationary"><img src="{{ 'Stationary.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/garbage-recycling"><img src="{{ 'GarbageRecycling.jpg' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  {% endif %}
  
  {% if collection.handle == "bath-body" or collection.handle == "deoderants" or collection.handle == "hand-cleaning" or collection.handle == "shaving" or collection.handle == "shower" or collection.handle == "skin-care"%}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner mycustom-banner">

      </div>
      <div class="custom-link-cont custom-sanadeeg-business {% if collection.handle == "bath-body" %}main-cat{% endif %} ">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/deoderants"><img src="{{ 'Deodorants.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/hand-cleaning"><img src="{{ 'HandCleaning.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/shaving"><img src="{{ 'Shaving.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/shower"><img src="{{ 'Shower.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/skin-care"><img src="{{ 'SkinCare.jpg' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  {% endif %}
  
  {% if collection.handle == "cleaning-supplies" or collection.handle == "surface-cleaners" or collection.handle == "paper-products" or collection.handle == "laundry" or collection.handle == "dish-cleaning" or collection.handle == "air-fresheners"%}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner mycustom-banner">

      </div>
      <div class="custom-link-cont custom-sanadeeg-business {% if collection.handle == "cleaning-supplies" %}main-cat{% endif %} ">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/surface-cleaners"><img src="{{ 'Surface-Cleaners.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/paper-products"><img src="{{ 'Paper-Products.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/laundry"><img src="{{ 'Laundry.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/dish-cleaning"><img src="{{ 'Dish-Cleaning.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/air-fresheners"><img src="{{ 'Air-Fresheners.jpg' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  {% endif %}
  
  {% if collection.handle == "beverages" or collection.handle == "coffee-tea" or collection.handle == "dairy" or collection.handle == "juices" or collection.handle == "soda-malts" or collection.handle == "sports-energy" or collection.handle == "water-sparkling"%}
	<div class="custom-collection-cont business">
      <div class="custom-main-banner mycustom-banner">

      </div>
      <div class="custom-link-cont custom-sanadeeg-business {% if collection.handle == "beverages" %}main-cat{% endif %} ">
        
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/coffee-tea"><img src="{{ 'Coffee-Tea.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/dairy"><img src="{{ 'Dairy.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/juices"><img src="{{ 'Juices.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/soda-malts"><img src="{{ 'Soda-Malts.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/sports-energy"><img src="{{ 'Sports-Energy.jpg' | asset_url }}"></a>
        </div>
        <div class="custom-link-img">
          <a href="https://sanadeeg.com/collections/water-sparkling"><img src="{{ 'Water-Sparkling.jpg' | asset_url }}"></a>
        </div>
        
      </div>
    </div>
  {% endif %}
  
   
  
  {% if collection.handle == "ramadan-collection" %}
  	<div class="custom-collection-cont ramadan">
        <div class="custom-main-banner">
          <a href="https://sanadeeg.com/collections/ramadan-collection"><img src="{{ 'Ramadan-Collection-Banner-my.png' | asset_url }}"></a>
        </div>
    </div>
 
  
  {% endif %}

  {% if has_sidebar %}
  <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
    {% include 'collection-sidebar' %}
  </aside>
  {% endif %}

  <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">
    
    {% if paginate.pages > 1 %}		
    <div class="text-center up-page">{% include 'upside-pagination' %}</div>
    {% endif %}

    {% comment %}
      Different markup if description is set
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header--title h1">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr{% if has_sidebar %} class="hr--offset-left"{% endif %}>
      <div class="section-header">
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
      </div>
    {% else %}
    <header class="section-header">
      <h1 class="section-header--title section-header--left h1">{{ collection.title }}</h1>
      <div class="section-header--right">
        {% include 'collection-sorting' %}
        {% include 'collection-views' %}
        {% include 'toggle-filters' %}
      </div>
    </header>
    {% endif %}

    <div class="grid-uniform">

      {% for product in collection.products %}

        {% if has_sidebar %}
          {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
        {% else %}
          {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
        {% endif %}
        {% include 'product-grid-item' %}
      	

      {% else %}

        <div class="grid-item">
        <!--  <p>{{ 'collections.general.no_matches' | t }}</p> --> We are searching for best deals for you, stay tuned.  
        </div>

      {% endfor %}

    </div>

  </div>

  {% if paginate.pages > 1 %}
  <div class="grid-item pagination-border-top">
    <div class="grid">
      <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endpaginate %}
